<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><strong>Mobile Saúde</strong> :: Ordem de Serviço</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <!--        <li><a href="#">Login</a></li>-->
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Chamados <span class="sr-only">(current)</span></a></li>
      </ul>
      <!--      <ul class="nav nav-sidebar">-->
      <!--        <li><a href="#">Nav item</a></li>-->
      <!--      </ul>-->
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Chamados</h1>

      <div class="row call-search">
        <div class="col-xs-12 col-md-offset-4 col-md-4">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Pesquise por um chamado...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Pesquisar</button>
            </span>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>Número chamado</th>
            <th>ID paciente</th>
            <th>Nome paciente</th>
            <th>Motivo</th>
            <th>Descrição</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>10000</td>
            <td>2345</td>
            <td>José Augusto dos Santos</td>
            <td>Mosia</td>
            <td style="max-width: 90px;">Estamos com uma lista de atendimentos enfileirados, mas verificando o dashboard não essas pessoas não
              estão na fila
            </td>
            <td>22/07/2020</td>
            <td>Aberto</td>
            <td><a href="" (click)="openCall($event)">EDITAR</a> / <a href="" (click)="openCall($event)">DETALHES</a>
            </td>
          </tr>
          <tr>
            <td>10001</td>
            <td>2346</td>
            <td>Lindomar de Capri</td>
            <td>Financeiro</td>
            <td>Os usuário não estão conseguindo visualizar boletos...</td>
            <td>03/05/2020</td>
            <td>Aberto</td>
            <td><a href="" (click)="openCall($event)">EDITAR</a> / <a href="" (click)="openCall($event)">DETALHES</a>
            </td>
          </tr>
          <tr>
            <td>10003</td>
            <td>2346</td>
            <td>Vanessa Santos</td>
            <td>Login</td>
            <td>Não conseguimos logar no app...</td>
            <td>04/05/2020</td>
            <td>Aberto</td>
            <td><a href="" (click)="openCall($event)">EDITAR</a> / <a href="" (click)="openCall($event)">DETALHES</a>
            </td>
          </tr>
          <tr>
            <td>10004</td>
            <td>0012</td>
            <td>Ludmila Pinheiro</td>
            <td>Reembolso</td>
            <td>Reembolso apresenta instabilidades...</td>
            <td>03/08/2020</td>
            <td>Aberto</td>
            <td><a href="" (click)="openCall($event)">EDITAR</a> / <a href="" (click)="openCall($event)">DETALHES</a>
            </td>
          </tr>
          <tr>
            <td>10005</td>
            <td>0037</td>
            <td>Tânea Vicente Pereira</td>
            <td>Login</td>
            <td>Não conseguimos logar no app...</td>
            <td>04/05/2020</td>
            <td>Aberto</td>
            <td><a href="" (click)="openCall($event)">EDITAR</a> / <a href="" (click)="openCall($event)">DETALHES</a>
            </td>
          </tr>
          <tr>
            <td>10000</td>
            <td>2345</td>
            <td>José Augusto dos Santos</td>
            <td>Carteirinha</td>
            <td>Solicitação de carteirinha está retornando erro. Seguem imagem...</td>
            <td>22/07/2020</td>
            <td>Aberto</td>
            <td><a href="" (click)="openCall($event)">EDITAR</a> / <a href="" (click)="openCall($event)">DETALHES</a>
            </td>
          </tr>
          <tr>
            <td>10001</td>
            <td>2346</td>
            <td>Lindomar de Capri</td>
            <td>Reembolso</td>
            <td>Reembolso apresenta instabilidades...</td>
            <td>03/05/2020</td>
            <td>Aberto</td>
            <td><a href="" (click)="openCall($event)">EDITAR</a> / <a href="" (click)="openCall($event)">DETALHES</a>
            </td>
          </tr>
          <tr>
            <td>10003</td>
            <td>2346</td>
            <td>Vanessa Santos</td>
            <td>Carteirinha</td>
            <td>Carteirinha não está mostrando as informações...</td>
            <td>04/05/2020</td>
            <td>Aberto</td>
            <td><a href="" (click)="openCall($event)">EDITAR</a> / <a href="" (click)="openCall($event)">DETALHES</a>
            </td>
          </tr>
          <tr>
            <td>10004</td>
            <td>0012</td>
            <td>Ludmila Pinheiro</td>
            <td>Reembolso</td>
            <td>Reembolso apresenta instabilidades...</td>
            <td>03/08/2020</td>
            <td>Aberto</td>
            <td><a href="" (click)="openCall($event)">EDITAR</a> / <a href="" (click)="openCall($event)">DETALHES</a>
            </td>
          </tr>
          <tr>
            <td>10005</td>
            <td>0037</td>
            <td>Tânea Vicente Pereira</td>
            <td>Coparticipação</td>
            <td>Após a última atualização o menu Coparticipação não abre</td>
            <td>04/05/2020</td>
            <td>Aberto</td>
            <td><a href="" (click)="openCall($event)">EDITAR</a> / <a href="" (click)="openCall($event)">DETALHES</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
